*{
	margin: 0;
	padding: 0;
}
body
{
background: white;
Font-family: Arial;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li
{
float: left;
margin-left:180px;
}

li a{
  display: block;
  color: white;
  padding: 10px 220px;
  text-decoration: none;

}
li:hover{
	Padding: 10px;
   Background: orange;
Text-decoration: underline;
}
.login-box p{
	margin: 0px;
	padding: 0px;
	font-weight: bold; 
	 margin-left:610px;
	 margin-top:20px;
}
.login-box input
{
	width:100%;
	margin-bottom:20px;
}
.login-box input[type="text"],input[type="password"]
{
	border:none;
	border:1px solid; 
	background: transparent;
	height: 40px;
	border-radius:20px;
	width: 250px;
   outline:none;
   font-size: 16px;
   margin-left:600px;
}
.login-box input[type="submit"]
{
	border:none;
	outline: none;
	height:40px;
	background:#1c8adb;
	color:#fff;
	width:100px;
	font-size: 18px;
	border-radius:20px;
	 margin-left:610px;
}
.login-box input[type="submit"]:hover
{
	cursor: pointer;
	background:#39dc79;
	color: #000;
}
.login-box a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
.login-box a:hover
{
	color: #39dc79;
}
.heading{
	position: absolute;
	top:50%;
    width: 100%;
    margin-left:80px;
    color: white;
    font-size:40px;

}
ol
{
   margin-left:300px;
}